extends ../main.layout.pug

block content

  section.welcome
    .container.welcome__container
      .welcome__left
        img(src="/assets/images/burger.png", alt="сочный бургер")
      .welcome__right
        h2.title Мы делаем
        h3.subtitle натуральные бургеры
    .welcome__arrow-down
      img(src="/assets/images/arrow.png", alt="следующая секция")

  section.virtues
    .container.virtues__container
      h2.title.title-black Мы лучшие
      ul.virtues__list
        li.virtues__item
          img.virtues__icon(src="/assets/images/vir1.png", alt="свежее мясо")
          h4.virtues__title 100% свежее мясо
          p.virtues__desc Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
        li.virtues__item
          img.virtues__icon(src="/assets/images/vir2.png", alt="Ручная  сборка")
          h4.virtues__title Ручная  сборка
          p.virtues__desc Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос.
        li.virtues__item
          img.virtues__icon(src="/assets/images/vir3.png", alt="Натуральные ингредиенты")
          h4.virtues__title Натуральные ингредиенты
          p.virtues__desc Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.
    
  section.burgers
    .container.burgers__container
      .slider-arrow-burger-prev
        img(src="/assets/images/arrow.png", alt="предыдущий слайдер")
      .slider-arrow-burger-next
        img(src="/assets/images/arrow.png", alt="следующий слайдер")

      .burgers__slider
        .burgers-item
          button.composition-btn
            .composition-btn__icon
              img(src="/assets/images/comp-icon.png", alt="состав")
            span.composition-btn__text состав
           
          ul.composition
            li.composition__item
              .composition__icon
                img(src="/assets/images/co1.png", alt="Говядина")
              .composition__title Говядина
              .composition__weight 300г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co2.png", alt="Булочки")
              .composition__title Булочки
              .composition__weight 100г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co3.png", alt="Зелень")
              .composition__title Зелень
              .composition__weight 100г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co4.png", alt="Соус")
              .composition__title Соус
              .composition__weight 50г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co5.png", alt="Зелень")
              .composition__title Овощи
              .composition__weight 70г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co6.png", alt="Сыр")
              .composition__title Сыр
              .composition__weight 110г

          .burgers-item__mass
            .mass__icon
              img(src="/assets/images/kkal.png", alt="килокалории")
            span.mass__inner 1200
            span.mass__kkal ккал

          .burgers-item__wrap
            .burgers-item__left
              img(src="/assets/images/burg1.png", alt="Dark BEEF Burger")
            .burgers-item__right
              h2.title.title-white Dark BEEF Burger
              p.burgers-item__desc Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
              .burgers-item__row
                .burgers-item__price 500 <span>рублей</span>
                .burgers-item__btn.btnn заказать

        .burgers-item
          button.composition-btn
            .composition-btn__icon
              img(src="/assets/images/comp-icon.png", alt="состав")
            span.composition-btn__text состав
        
          ul.composition
            li.composition__item
              .composition__icon
                img(src="/assets/images/co1.png", alt="Говядина")
              .composition__title Говядина
              .composition__weight 310г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co2.png", alt="Булочки")
              .composition__title Булочки
              .composition__weight 120г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co3.png", alt="Зелень")
              .composition__title Зелень
              .composition__weight 90г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co4.png", alt="Соус")
              .composition__title Соус
              .composition__weight 20г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co5.png", alt="Зелень")
              .composition__title Овощи
              .composition__weight 70г
            li.composition__item
              .composition__icon
                img(src="/assets/images/co6.png", alt="Сыр")
              .composition__title Сыр
              .composition__weight 110г

          .burgers-item__mass
            .mass__icon
              img(src="/assets/images/kkal.png", alt="килокалории")
            span.mass__inner 900
            span.mass__kkal ккал

          .burgers-item__wrap
            .burgers-item__left
              img(src="/assets/images/NYC-Diner-Bacon-Cheeseburger.png", alt="Dark BEEF Burger")
            .burgers-item__right
              h2.title.title-white NYC Bacon Cheeseburger
              p.burgers-item__desc Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
              .burgers-item__row
                .burgers-item__price 500 <span>рублей</span>
                .burgers-item__btn.btnn заказать

  section.team
    .team__bg
    .container.team__container
      .team__wrap
        .title команда
        ul.team-accord
          li.team-accord__item
            .team-accord__header Ричард Джеймс
              .team-accord__triangle
            .team-accord__body 
              .team-accord__avatar
                img(src="/assets/images/acc-avatar.png", alt="Ричард Джеймс")
              .team-accord__descr
                .team-accord__profession Оператор
                p.team-accord__text С радостью поможет подобрать идеальный бургер и оформить заказ.
          li.team-accord__item
            .team-accord__header Дэниэл Редклиф
              .team-accord__triangle
            .team-accord__body 
              .team-accord__avatar
                img(src="/assets/images/acc-avatar.png", alt="Дэниэл Редклиф")
              .team-accord__descr
                .team-accord__profession Оператор
                p.team-accord__text С радостью поможет подобрать идеальный бургер и оформить заказ.
          li.team-accord__item
            .team-accord__header Джейк Финн
              .team-accord__triangle
            .team-accord__body 
              .team-accord__avatar
                img(src="/assets/images/acc-avatar.png", alt="Джейк Финн")
              .team-accord__descr
                .team-accord__profession Оператор
                p.team-accord__text С радостью поможет подобрать идеальный бургер и оформить заказ.
          li.team-accord__item
            .team-accord__header Николай Иванов
              .team-accord__triangle
            .team-accord__body 
              .team-accord__avatar
                img(src="/assets/images/acc-avatar.png", alt="Николай Иванов")
              .team-accord__descr
                .team-accord__profession Оператор
                p.team-accord__text С радостью поможет подобрать идеальный бургер и оформить заказ.

  section.menu
    .container.menu__container
      .title.title-white меню
    .menu-acco
      .menu-acco__item
        .menu-acco__header.menu-acco__header-1
          p Диетическое
        .menu-acco__body 
          p Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.

      .menu-acco__item
        .menu-acco__header.menu-acco__header-2
          p Вегетарианское
        .menu-acco__body 
          p Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.

      .menu-acco__item
        .menu-acco__header.menu-acco__header-3
          p Для мясоедов
        .menu-acco__body 
          p Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
















  section.section.comments
    p comments
  section.section.how-work
    p how-work
  section.section.order
    p order
  section.section.map
    p map

block scripts
  script(src="assets/plugins/jquery3.5.1.js")
  script(src="assets/plugins/slick.min.js")

  //- script(src="https://alvarotrigo.com/fullPage/dist/fullpage.dragAndMove2.limited.min.js?v12")
  //- script(src="https://alvarotrigo.com/fullPage/fullpage.extensions.min.js")

  script(src="assets/scripts/main.bundle.js")


