extends ../main.layout.pug

block content

  section.welcome
    .container.welcome__container
      .welcome__left
        img(src="/assets/images/burger.png", alt="сочный бургер")
      .welcome__right
        h2.title Мы делаем
        h3.subtitle натуральные бургеры
    .welcome__arrow-down
      img(src="/assets/images/arrow.png", alt="следующая секция")

  section.section.virtues
    .container.virtues__container
      h2.title.title-black Мы лучшие
      ul.virtues__list
        li.virtues__item
          img.virtues__icon(src="/assets/images/vir1.png", alt="свежее мясо")
          h4.virtues__title 100% свежее мясо
          p.virtues__desc Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
        li.virtues__item
          img.virtues__icon(src="/assets/images/vir2.png", alt="Ручная  сборка")
          h4.virtues__title Ручная  сборка
          p.virtues__desc Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос.
        li.virtues__item
          img.virtues__icon(src="/assets/images/vir3.png", alt="Натуральные ингредиенты")
          h4.virtues__title Натуральные ингредиенты
          p.virtues__desc Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.
    
  section.section.prices
    p prices
  section.section.team
    p team
  section.section.menu
    <ul class="menu">
      <li class="item">
        <div class="trigger">
          <p>SLIDE 1 SLIDE 1</p>
        </div>
        <div class="content">
          <h3>SLIDE 1</h3>
          <p>text1</p>
        </div>
      </li>
      <li class="item">
        <div class="trigger">
          <p>SLIDE 2 SLIDE 2</p>
        </div>
        <div class="content">
          <h3>SLIDE 2</h3>
          <p>text2</p>
        </div>
      </li>
      <li class="item">
        <div class="trigger">
          <p>SLIDE 3 SLIDE 3</p>
        </div>
        <div class="content">
          <h3>SLIDE 3</h3>
          <p>text3</p>
        </div>
      </li>
    </ul>

  section.section.comments
    p comments
  section.section.how-work
    p how-work
  section.section.order
    p order
  section.section.map
    p map

block scripts
  script(src="assets/plugins/jquery3.5.1.js")
  script(src="https://alvarotrigo.com/fullPage/dist/fullpage.dragAndMove2.limited.min.js?v12")
  script(src="https://alvarotrigo.com/fullPage/fullpage.extensions.min.js")

  script(src="assets/scripts/main.bundle.js")


