.adapt
  button.adapt__btn 
    <input class="bar" type="checkbox" id="b" />
    <label for="b">
      <div class="bar__element one"></div>
      <div class="bar__element two"></div>
      <div class="bar__element three"></div>
    </label>
  .adapt__menu
    ul.adapt__list
      li.adapt-item
        a(href="#virtuesPage") о нас
      li.adapt-item
        a(href="#burgersPage") бургеры
      li.adapt-item
        a(href="#teamPage") команда
      li.adapt-item
        a(href="#menuPage") меню
      li.adapt-item
        a(href="#commentsPage") отзывы
      li.adapt-item
        a(href="#howWorkPage") как мы работаем
      li.adapt-item
        a(href="#mapPage") контакты
      .adapt__btn-order
        a(href="#orderPage")
          button.btnn заказать