header.header
  .container.header__container
    .header__logo
      img(src="/assets/images/logo.png", alt="логотип")
    .header__nav
      ul.nav-list
        li.nav-list__item
          a(href="#virtuesPage") о нас
        li.nav-list__item
          a(href="#burgersPage") бургеры
        li.nav-list__item
          a(href="#teamPage") команда
        li.nav-list__item
          a(href="#menuPage") меню
        li.nav-list__item
          a(href="#commentsPage") отзывы
        li.nav-list__item
          a(href="#howWorkPage") как мы работаем
        li.nav-list__item
          a(href="#mapPage") контакты
    .header__btn
      a(href="#orderPage")
        button.btnn заказать
