header.header
  .container.header__container
    .header__logo
      img(src="/assets/images/logo.png", alt="логотип")
    .header__nav
      ul.nav-list
        li.nav-list__item
          a(href="#") о нас
        li.nav-list__item
          a(href="#") бургеры
        li.nav-list__item
          a(href="#") команда
        li.nav-list__item
          a(href="#") меню
        li.nav-list__item
          a(href="#") отзывы
        li.nav-list__item
          a(href="#") как мы работаем
        li.nav-list__item
          a(href="#") контакты
    .header__btn
      button.btnn заказать
