block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel='stylesheet' href='https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.css')

    title #{title}
    link(rel='stylesheet' href='assets/styles/main.min.css')
  body
    .wrapper
      .maincontent#fullpage
        include ./common/adaptiveMenu.pug
        include ./common/header.pug
        block content
        include ./common/footer.pug
    block scripts