block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel='stylesheet' href='https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.css')
    link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png")
    //- title #{title}
    title mr.Burger
    link(rel='stylesheet' href='assets/styles/main.min.css')
  body
    .wrapper
      include ./common/adaptiveMenu.pug
      include ./common/modals.pug

      .maincontent#fullpage
        include ./common/header.pug
        block content
        
    block scripts