.adapt{

  &__btn{
    background: transparent;
    position: fixed;
    z-index: 10;
    right: 15px;
    top: 15px;
    border: none;
    cursor: pointer !important;
  }
  &__menu{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(47,50,52,.97);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: linear all .3s;
    z-index: 9;
  }
}

.active.adapt__btn+.adapt__menu{
  visibility: visible;
  opacity: 1;
}


// btn

.bar {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

/* bars */
.bar__element {
  margin: 10px;
  width: 40px;
  height: 4px;
  background-color: hsl(3, 100%, 63%);
  transition: all 0.4s ease;
  border-radius: 1.25em;
  box-shadow: 1px 0px 10px hsla(0, 0%, 20%, 0.2);
}

[type='checkbox']:hover + label .bar__element {
  filter: brightness(1.05);
}

[type='checkbox']:checked + label .one {
  transform: translateY(14px) rotate(45deg);
}

[type='checkbox']:checked + label .three {
  transform: translateY(-14px) rotate(-45deg);
}

[type='checkbox']:checked + label .two {
  transform: scale(0);
  transition: all 150ms ease;
}

