.burgers{
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: flex;
  align-items: center;
  
  &__container{
    position: relative;
  }
}

.slider-arrow-burger-prev{
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(0, -50%) rotate(90deg);
  cursor: pointer;
}

.slider-arrow-burger-next{
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(0, -50%) rotate(270deg);
  cursor: pointer;
}


.burgers-item{
  width: 100%;
  padding: 70px 0;
  position: relative;

  &__mass{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ffffff;
    font-family: 'Gagalin';
    font-size: 14px;
    text-align: center;

    .mass__inner{
      position: absolute;
      top: 27px;
      left: 50%;
      transform: translateX(-50%);
      opacity: .5;
    }
    .mass__kkal{
      opacity: .5;
    }
  }

  &__wrap{
    display: flex !important;
    flex-direction: row;
  }

  &__left{
    width: 50%;

    img{
      width: 100%;
      height: auto;
    }
  }

  &__right{
    width: 50%;
    padding-left: 20px;
  }

  &__desc{
    color: #ffffff;
    font-family: 'ubuntu-light';
    font-size: 14px;
    font-weight: 300;
  }

  &__row{
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
  }

  &__price{
    color: #e35028;
    font-family: 'gagalin';
    font-size: 72px;
    letter-spacing: -1.79px;
    line-height: .7;

    span{
      font-size: 30px;
      margin-left: -10px;
      margin-right: 30px;
    }
  }
}

.composition-btn{
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #e35028;
  opacity: .6;
  top: 0;
  left: 0;
  border-radius: 12px;
  transition: linear all .3s;
  border: none;
  color: #ffffff;
  font-family: 'gagalin';
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover{
    opacity: 1;
    cursor:pointer;
  }
  
}

.composition{
  position: absolute;
  left: 90px;
  top: 0;
  padding: 15px;
  border-radius: 12px;
  background-color: #fff;
  opacity: 0;
  width: 270px;
  transition: linear all .3s;
  
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__title{
    font-family: 'ubuntu';
    font-size: 14px;
    font-weight: 500;
    flex: 1;
    padding-left: 30px;
  }
  &__weight{
    font-family: 'ubuntu';
    font-size: 14px;
    font-weight: 500;
  }
}


.show-composition+.composition{
  opacity: 1;
}
