.map{

  &__wrap{
    height: 100%;
  }

  &__balloon{
    display: flex;
    max-width: 290px;
    font-family: gagalin;
  }

  &__burger-img{
    width: 70px;
    height: auto;
    margin-right: 15px;
  }
}