.team{
  background-image: url("/assets/images/team.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;

  &__bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #2f3234;
    opacity: 0.93;
  }

  &__container{
    display: flex;
    justify-content: flex-end;
  }

  &__wrap{
    max-width: 350px;
    min-height: 460px;
  }
}

.team-accord{

  &__item{
    margin-bottom: 30px;
    position: relative;
    padding-left: 20px;
  }

  &__triangle{
    position: absolute;
    left: 0;
    top: 5px;
    width: 6px;
    border: 6px solid transparent; border-top: 6px solid #fff;
    transition: 0.3s ease-out;
  }

  &__header {
    cursor: pointer;
    padding-left: 15px;
    transition: 0.5s;
    color: #ffffff;
    font-family: Gagalin;
    font-size: 14px;
    font-weight: 400;
  }

  &__body {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    display: flex;
    padding-top: 15px; 
  }

  &__avatar{
    margin-right: 20px;
  }

  &__profession{
    margin-bottom: 12px;
    font-family: 'ubuntu-bold';
  }

  &__text{
    font-family: 'ubuntu-light';
  }
}

.active.team-accord__header {
  color: #f9b43b;
}

.active.team-accord__header>.team-accord__triangle {
  border: 6px solid transparent; border-top: 6px solid #f9b43b;
  transform: rotate(180deg);
  top: 0px;
}

