.welcome{
  background-image: url("/assets/images/welcome.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__container{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  &__left{
    width: 50%;
    img{
      width: 100%;
      height: auto;
    }
  }

  &__right{
    width: 50%;
    padding-left: 30px;
  }

  &__arrow-down{
    position: absolute;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
  }
  
}