@media (max-width: 1024px) {
  .container{
    max-width: 800px;
  }
  .header__nav{
    display: none;
  }
  .title {
    font-size: 55px;
  }
  .subtitle {
    font-size: 50px;
  }
}

@media (max-width: 825px) {
  .comments__inner{
    opacity: 1;
  }
  .container{
    width: 100%;
  }
  .welcome__container{
    flex-direction: column;
  }
  .welcome__left {
    margin-bottom: 20px;
  }
  .welcome__right{
    width: 100%;
    padding-left: 0;
  }
  .title{
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .virtues__list {
    flex-direction: column;
  }
  .virtues__item {
    text-align: left;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 470px;
    margin-bottom: 20px;
  }
  .virtues__desc {
    width: 75%;
  }
  .virtues__title {
    margin-bottom: 5px;
  }
  .burgers-item__wrap {
    flex-direction: column;
    align-items: center;
  }
  .slider-arrow-burger-next {
    right: 0px;
  }
  .slider-arrow-burger-prev {
    left: 0px;
  }
  .burgers-item{
    padding: 0;
  }
  .burgers-item__price {
    font-size: 40px;
  }
  .burgers-item__right{
    padding-left: 0;
  }
  .burgers-item__right{
    margin-top: 20px;
  }
  .btnn {
    padding: 9px 11px;
    font-size: 14px;
  }
  .burgers-item__row {
    justify-content: space-between;
    margin-top: 15px;
  }
  .comments__item {
    width: 50%;
    height: 50%;
    background-position: top !important;
  }
  .team__bg {
    width: 100%;
  }
  .team__container {
    justify-content: center;
  }
  .team__wrap {
    max-width: 100%;
  }
  .team-accord__item{
    max-width: 400px;
  }
  .team-accord__header {
    font-size: 18px;
  }
  .team-accord__body {
    flex-direction: column;
  }
  .title-menu{
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .menu__container {
    min-height: 100%;  
  }
  .order-form{
    flex-direction: column;
    align-items: center;
  }
  .order-form__left{
    width: 450px;
    padding-right: 0;
  }
  .order-form__right {
    width: 450px;
    padding-left: 0px;
  }
  .order-form__textarea{
    width: 100%;
  }
  .comments__text{
    display: none;
  }
  .comments__btn {
    display: block; 
  }
  .comments__name{
    font-size: 35px;
  }
  .comments__inner {
    justify-content: center;
    align-items: center;
  }
  .burgers-item__mass {
    left: auto;
    bottom: auto;
    right: 10px;
    top: 0;
  }
  .composition-btn {
    left: 1px;
  }
  .burgers-item__right {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .menu-acco__body p {
    padding: 60px 10px;
    font-size: 14px;
  }
  
  .menu-acco__header {
    width: 60px;
  }

  .order-form__left,
  .order-form__right{
    width: 100%;
  }
  .footer__container {
    flex-direction: column;
  }
  .phone {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .title {
    font-size: 30px;
  }
  .order-form__input {
    padding: 5px 20px;
  }
  .order-form__row {
    margin-bottom: 5px;
}
.order-form__label-checkbox {
  margin-top: 10px;
}
.virtues__desc {
  width: 100%;
  padding-left: 10px;
}
.composition-btn {
  width: 70px;
  height: 70px;
}
.composition {
  left: 70px;
}
}



@media (max-width: 400px) {
  .menu-acco__body p {
    padding: 10px 10px;
    font-size: 12px;
    line-height: 18px;
}
.comments__name {
  font-size: 28px;
}
} 